.register__button{
    width: 270px;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    /* background-color: blue; */
    background-color: #3f51b5;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

.register__button:hover{
    background-color: blue;
    background:#3f51b5;
    opacity: 0.9;
}