#dashboard{
    /* background: red; */
    min-height: 100vh;
    display: flex;
}

.dashboard__sidebar{
    /* flex:; */
    width: 200px;
    /* background: green; */
    position: sticky;
    top: 0;
}

.dashboard__main{
    flex: 1;
    /* background: red; */
}