.tweetHeader{
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
}

.tweetHeader__icon{
    width: 40px;
    height: 40px;
    color: #00ADED;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    cursor:pointer ;
}

.tweetHeader__icon:hover{
    transform: rotate(180deg);
    transition: 0.4s ease-out;
}