.tweetBox{
    margin: 10px 0;
    /* border: 1px solid red; */
    padding-inline: 10px;
    display: flex;
    align-items: center;
}

.tweetBox > div:first-of-type{
    margin-right: 15px;
}

.tweetBox > div:first-of-type > img{
    width: 60px;
    height: 60px;
    border-radius: 99px;
}

.tweetBox > div:nth-child(2){
     width: 100%;
}

.tweetBox > div:nth-child(2) > input{
    width: 100%;
    background: transparent;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 15px 0px 15px 20px;
    margin-bottom: 30px;
    font-size: 18px;
}

input::placeholder{
    font-size: large;
}

.tweetBox__actions{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.tweetBox__button{
    margin-left: auto;
    background-color: #00ADED;
    color: white;
    padding: 10px 30px;
    border-radius: 99px;
    border: none;
    font-size: large;
    cursor: pointer;
}

.tweetBox__button:disabled{
    cursor: not-allowed;
    opacity: .4;
}

.tweetBox__actions > *:not(:last-child){
    /* color: red; */
    margin-right: 5px;
    cursor: pointer;
}

.tweetBox__actionIcon{
    height: 40px;
    width: 40px;
}