.tweet{
    padding-inline: 10px;
    /* border: 1px solid red; */
    margin-top: 10px;
    border-bottom: 1px solid lightgray;
}

.tweet__header{
    display: flex;

}

.tweet__header > img{
    width: 40px;
    height: 40px;
    border-radius: 99px;
    margin-right: 35px;
}

.tweetHeader__details{

}

.tweetHeader__details > span:first-child{
    font-weight: bold;
    margin-right: 5px;
}

.tweetHeader__details > span:nth-child(2){
    color: gray;
    font-size: 14px;
}

.tweetHeader__tweet{
    margin-top: 15px;
}

.tweetPicture{
    /* border: 2px solid purple; */
    text-align: center;
    margin-top: 10px;
}

.tweetPicture > img{
    width: 80%;
    height: auto;
}

.tweetFooter{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.tweetFooter > div > * {
    width: 25px;
    height: 25px;
    cursor: pointer;
}